<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="PrestaShop" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="core.PrestaTestListener"/>
    </listeners>

    <test name="End to end checkout tests">
        <classes>
            <class name="prestaShop.EndToEndCheckoutTests"/>
        </classes>
    </test>
    <test name="Language panel tests">
        <classes>
            <class name="prestaShop.LanguagePanelTests"/>
        </classes>
    </test>
    <test name="Menu panel tests">
        <classes>
            <class name="prestaShop.MenuTests"/>
        </classes>
    </test>
    <test name="Popular products tests">
        <classes>
            <class name="prestaShop.PopularProductsTests"/>
        </classes>
    </test>
    <test name="Price drop tests">
        <classes>
            <class name="prestaShop.PriceDropTests"/>
        </classes>
    </test>
    <test name="Products page tests">
        <classes>
            <class name="prestaShop.ProductsPageTests"/>
        </classes>
    </test>
    <test name="Registration tests">
        <classes>
            <class name="prestaShop.RegistrationTests"/>
        </classes>
    </test>
    <test name="Shopping cart tests">
        <classes>
            <class name="prestaShop.ShoppingCartTests"/>
        </classes>
    </test>
    <test name="Subscription tests">
        <classes>
            <class name="prestaShop.SubscriptionTests"/>
        </classes>
    </test>

</suite>
